@CHARSET "ISO-8859-1";

.scott {
	color: white;
	font-size: 35px;
	margin-top: 20 px;
	text-align: center;
}

a {
	color: #f95c5c;
}

.text,input[type=submit] {
	font-size: 20px;
	color: white;
}

input[type=submit]:hover {
	color: black;
}

input[type=submit] {
	font-size: 20px;
	color: white;
	width: 100%;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 30px;
	line-height: 30px;
	font-size: 18px;
	background-color: #f95c5c;
	
	
	
}

input[type=text],input[type=password] {
	width: 100%;
	font-size: 18px;
	line-height: 30px;
	border: 2px solid;
	border-radius: 5px;
	text-align: center;
	background: rgb(252, 255, 244); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252, 255, 244, 1) 0%,
		rgba(223, 229, 215, 1) 40%, rgba(179, 190, 173, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252,
		255, 244, 1)), color-stop(40%, rgba(223, 229, 215, 1)),
		color-stop(100%, rgba(179, 190, 173, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252, 255, 244, 1) 0%,
		rgba(223, 229, 215, 1) 40%, rgba(179, 190, 173, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252, 255, 244, 1) 0%,
		rgba(223, 229, 215, 1) 40%, rgba(179, 190, 173, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(252, 255, 244, 1) 0%,
		rgba(223, 229, 215, 1) 40%, rgba(179, 190, 173, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(252, 255, 244, 1) 0%,
		rgba(223, 229, 215, 1) 40%, rgba(179, 190, 173, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#fcfff4',
		endColorstr='#b3bead', GradientType=0); /* IE6-9 */
}

.error {
	color: #DAE0D2;
}

.errorblock {
	color: #DAE0D2;
	padding: 8px;
	margin-bottom: 16px;
	width: 100%;
	border-radius: 20px;
	box-shadow: 3px 3px 1px #f95c5c;
}

.reveal-modal-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0, 0, 0, .8);
	z-index: 100;
	display: none;
	top: 0;
	left: 0;
}

.reveal-modal {
	visibility: hidden;
	top: 100px;
	left: 50%;
	margin-left: -300px;
	width: 350px;
	position: absolute;
	z-index: 101;
	padding: 30px 40px 34px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
	-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
	background: rgb(69, 72, 77); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69, 72, 77, 1) 0%,
		rgba(0, 0, 0, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(69,
		72, 77, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(69, 72, 77, 1) 0%,
		rgba(0, 0, 0, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(69, 72, 77, 1) 0%,
		rgba(0, 0, 0, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(69, 72, 77, 1) 0%,
		rgba(0, 0, 0, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(69, 72, 77, 1) 0%,
		rgba(0, 0, 0, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#45484d',
		endColorstr='#000000', GradientType=0); /* IE6-9 */
}

.reveal-modal.small {
	width: 200px;
	margin-left: -140px;
}

.reveal-modal.medium {
	width: 400px;
	margin-left: -240px;
}

.reveal-modal.large {
	width: 600px;
	margin-left: -340px;
}

.reveal-modal.xlarge {
	width: 800px;
	margin-left: -440px;
}

.reveal-modal .close-reveal-modal {
	font-size: 22px;
	line-height: .5;
	position: absolute;
	top: 8px;
	right: 11px;
	color: #aaa;
	text-shadow: 0 -1px 1px rbga(0, 0, 0, .6);
	font-weight: bold;
	cursor: pointer;
}
/*
		
	NOTES
	
	Close button entity is &#215;
	
	Example markup
	
	<div id="myModal" class="reveal-modal">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch.  I it's mine.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	*/